@page "/chat"
@inject ChatVM VM
<h3>minichat</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <form @onsubmit="send">
                <div class="input-group mb-3">

                    <input class="form-control" placeholder="Nachricht" @bind="Eingabe">
                    <button class="btn btn-outline-secondary" type="submit">send</button>

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">


                @foreach (var item in VM.Liste)
                {
                    <li class="list-group-item">
                        @item.Nachricht

                    </li>

                }
            </ul>
        </div>
    </div>
</div>

@code {

    string Eingabe = "";
    protected override async Task OnInitializedAsync()
    {
        VM.OnAdd += UpdateUI;

    }
    void UpdateUI()
    {
      
        InvokeAsync(StateHasChanged);
    }
    void send()
    {
        VM.Add(Eingabe);
        Eingabe = "";

    }
}
