@page "/kunden"
@using Models
@inject NorthwindContext db
<h3>Kunden</h3>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="input-group mb-3">

                <input class="form-control" placeholder="suche" @bind="Eingabe">
                <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i> suche</button>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">

                @foreach (var item in db.Customers.Where(x=>x.CompanyName.Contains(Eingabe)))
                {
                    <li class="list-group-item">
                        @item.CompanyName

                    </li>
                }

            </ul>
        </div>
    </div>
</div>

@code {

    string Eingabe = "";

}
