@page "/person"
<h3>PersonEdit</h3>
<EditForm EditContext="ctx" OnSubmit="save" >
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">

            <InputTextPPEDV class="form-control" @bind-Value="VM.Name" width="100px" data-hannes="toll"></InputTextPPEDV>
            <ValidationMessage For="()=>VM.Name"> </ValidationMessage>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
        
            <InputText class="form-control" @bind-Value="VM.Name"></InputText>
            <ValidationMessage For="()=>VM.Name"> </ValidationMessage>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Gross</label>
        <div class="col-sm-10">

            <InputNumber class="form-control" @bind-Value="VM.Gross" ></InputNumber>
            <ValidationMessage For="()=>VM.Gross"> </ValidationMessage>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">GebDat</label>
        <div class="col-sm-10">

            <InputDate class="form-control" @bind-Value="VM.GebDate"></InputDate>
            <ValidationMessage For="()=>VM.GebDate"> </ValidationMessage>
        </div>
    </div>

    <button class="btn btn-primary" type="submit"> save</button>
    <ValidationSummary></ValidationSummary>
</EditForm>
@code {
    EditContext ctx;
    Person VM = new Person();
    protected override void OnInitialized()
    {
        ctx = new EditContext(VM);
        ctx.SetFieldCssClassProvider(new BooststrapFixFieldClassCSSprovider());
    }
    void save(EditContext ctx)
    {
        
    }
}
