<h3>Component1</h3>

<button @onclick="click">click</button>

@code {
    void click()
    {
        
    }
    protected override void OnInitialized()
    {
      
    }
    // protected override void OnParametersSet()
    // {
        
    // }
  
    protected override void OnAfterRender(bool firstRender)
    {
        
    }
}
